<!DOCTYPE html>
<html lang="en">
<head>
    <script type="module" src="js/content.js"></script>
    <link rel="stylesheet" type="text/css" href="css/content.css">
    <meta charset="UTF-8">
    <title>Ваш контент</title>
</head>
<body>

<h2>Ваши работы</h2>

<ul id="contents"></ul>

<div class="overlay" id="overlay"></div>

<div class="feedback-modal" id="feedback-modal">
    <h2>Отзывы</h2>
    <ul id="feedback-list"></ul>
</div>

<form method="get" action="/">
    <button type="submit" name="logout">На главную</button>
</form>

<script>
</script>
</body>
</html>
