<!DOCTYPE html>
<html lang="en">
<head>
    <script type="module" src="js/feedback.js"></script>
    <link rel="stylesheet" type="text/css" href="css/content.css">
    <meta charset="UTF-8">
    <title>Оценка работ</title>
</head>
<body>

<h2>Пожалуйста, оцените работы</h2>

<ul id="contents"></ul>

<div class="overlay" id="overlay"></div>

<div class="feedback-modal" id="feedback-modal">
    <h2>Отзывы</h2>
    <div id="feedback-list"></div>
    <div>
        <label for="mark">Оценка:</label>
        <input type="number" id="mark" min="1" max="5" required>
    </div>
    <div>
        <label for="comment">Комментарий:</label>
        <textarea id="comment" rows="3" required></textarea>
    </div>
</div>

<form method="get" action="/">
    <button type="submit" name="logout">На главную</button>
</form>

</body>
</html>