<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/beautiful-form.css">
    <title>Главная</title>
</head>

<body>

<h2>Здравствуйте, <%= user.name %></h2>

<form method="post" enctype="multipart/form-data" action="/content">
    <b>
        <label>Загрузить работу</label>
    </b>
    <input type="file" name="file">
    <input type="submit" value="Загрузить">
</form>

<br>

<form method="get" action="/content">
    <button type="submit" name="open-content">Посмотреть свои работы</button>
</form>

<form method="get" action="/feedback">
    <button type="submit" name="feedback-content">Оценить другие работы</button>
</form>

<br>

<form method="get" action="/logout">
    <button type="submit" name="logout">Выйти</button>
</form>


</body>

</html>