<!DOCTYPE html>
<html lang="en">
<head>
    <script type="module" src="js/register.js"></script>
    <link rel="stylesheet" type="text/css" href="css/form.css">
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>

<h3>Пожалуйста, зарегистрируйтесь</h3>

<form id="registration-form">
    <p>
        <label>Имя пользователя:  </label>
        <input name="name">
    </p>
    <p>
        <label>Логин:</label>
        <input name="login">
    </p>
    <p>
        <label>Пароль:</label>
        <input type="password" name="password">
    </p>
    <button type="button" id="submit-button">Зарегистрироваться</button>
</form>

</body>
</html>